<div class="content">
  <h1> <%= "#{@user} twiffed:" %></h1>
  <h2> <%= @tweet %> </h2>

</div>



<div class="gifs">
  <%= render 'gifs' %>
</div>
<br/>
<%= link_to 'New Gif', twif_index_path, id: 'new-gif', class: "mdl-button mdl-js-button mdl-button--raised
mdl-js-ripple-effect mdl-button--accent"  %>
<%= link_to 'Funny Gif', twif_index_path, id: 'funny-gif', class: "mdl-button mdl-js-button mdl-button--raised
mdl-js-ripple-effect mdl-button--accent"  %>



