<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Twif</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <!--<span class="mdl-layout-title">Twif!</span>-->
      <%= link_to "Twif!", twif_index_path, class: "mdl-layout-title" %>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <%  if user_signed_in? %>
        <ul>
        <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "mdl-navigation__link"  %> </li>
        <% else %>
        <li> <%= link_to "Login", new_user_session_path, class: "mdl-navigation__link" %> </li>
        <li>  <%= link_to "Register", new_user_registration_path, class: "mdl-navigation__link" %> </li>
        </ul>
            <% end %>
        <%= link_to "New  Twiff", twif_index_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Twif!</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">My Twifs</a>
      <a class="mdl-navigation__link" href="">Top Twifs</a>

    </nav>
  </div>




  <div class="wrapper">

    <%= yield %>
  </div>
</div>


<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-deep_orange.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</body>
</html>
